<div class="maindiv">

	<h1>Ooops!</h1>

	<div class="info">
	Invalid time value given!
	</div>

	<div class="actions">	
	<%= link_to "Try again!", {:controller => "wtiis", :action => "index"}, :class => "btn" %>
	</div>

</div>