<div class="maindiv">

	<h1>It is...</h1>

	<div class="info">
	<%= @spelledtime %>
	</div>

	<div class="actions">	
	<%= link_to "Try again!", {:controller => "wtiis", :action => "index"}, :class => "btn" %>
	</div>

</div>